@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 36 5% 19%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 38 57% 92%;
		--popover-foreground: 36 5% 19%;

		--primary: 38 93% 52%; /* orange */
		--primary-foreground: 36 5% 19%; /* dunkelgrau */
		--secondary: 38 57% 92%; /* beige   38 86% 73%*/
		--secondary-foreground: 36 5% 19%; /*dunkelgrau*/
		--tertiary: 210 40% 96.1%;
		--tertiary-foreground: 38 88% 67%; /* helleres gelb */

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 36 5% 34%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 36 5% 19%;
		--input: 20 5.9% 90%;
		--ring: 38 57% 92%;
		--radius: 0rem;

		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	@font-face {
		font-family: 'bookFont';
		src: local('bookFont'), url('/fonts/bookFont/OfficinaSansStd-Book.otf');
		font-weight: normal;
	}
	@font-face {
		font-family: 'boldFont';
		src: local('boldFont'), url('/fonts/boldFont/OfficinaSansStd-Bold.otf');
		font-weight: bold;
	}
	@font-face {
		font-family: 'boldItalicFont';
		src: local('boldItalicFont'), url('/fonts/boldItalicFont/OfficinaSansStd-BoldItalic.otf');
		font-weight: italic;
	}

	* {
		@apply border-border;
		scroll-behavior: smooth;
	}
	body {
		@apply bg-secondary text-foreground;
		@apply font-bookFont;
	}

	/* === Highlighting === */
	::selection {
		@apply bg-primary-foreground;
		@apply text-white;
	}

	.antialised {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@media print {
	body {
		-webkit-print-color-adjust: exact; /* Safari/Chrome */
		print-color-adjust: exact; /* Firefox/others */
	}

	img {
		visibility: visible;
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
}

#cc-main {
	/** Change font **/
	/* --cc-font-family: Roboto; */

	/** Change button primary color to black **/
	--cc-btn-primary-bg: #f5a800; /* orange */
	--cc-btn-primary-border-color: #f5a800;
	--cc-btn-primary-hover-bg: #da9500;
	--cc-btn-primary-hover-border-color: #da9500;

	/** Also make toggles the same color as the button **/
	--cc-toggle-on-bg: var(--cc-btn-primary-bg);

	/** Make the buttons a bit rounder **/
	--cc-btn-border-radius: 0px;
	--cc-modal-border-radius: 0px;
}
