@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* mehr für die komponenten von shadcn */
		--background: 38 86% 73%;
		--foreground: 36 5% 19%;
		--muted: 210 40% 96.1%; /* hellgrau*/
		--muted-foreground: 215.4 16.3% 46.9%; /* dunkelgrau-blau */
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--input: 214.3 31.8% 91.4%; /* hellgrau */
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 72.2% 50.6%; /* rot */
		--destructive-foreground: 210 40% 98%; /* hellgrau */
		--ring: 222.2 84% 4.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%; /* dunkelgrau */
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		/* würde ich anpassen */
		--primary: 38 93% 52%; /* orange */
		--primary-foreground: 36 5% 19%; /* dunkelgrau */
		/* secondary wird auch von komponenten öfter benutzt. ist meistens einfach ne "softere" version von primary */
		--secondary: 38 57% 92%; /* beige   38 86% 73%*/
		--secondary-foreground: 36 5% 19%; /*dunkelgrau*/
		/* wenn du sehr spezielle farben hast würde ich neue variablen anlegen, damit die komponenten nicht zu wild in farben werden */
		--tertiary: 210 40% 96.1%;
		--tertiary-foreground: 38 88% 67%; /* helleres gelb */
		--border: 214.3 31.8% 91.4%;
	}
}

@layer base {
	@font-face {
		font-family: 'bookFont';
		src: local('bookFont'), url('/fonts/bookFont/OfficinaSansStd-Book.otf');
		font-weight: normal;
	}
	@font-face {
		font-family: 'boldFont';
		src: local('boldFont'), url('/fonts/boldFont/OfficinaSansStd-Bold.otf');
		font-weight: bold;
	}
	@font-face {
		font-family: 'boldItalicFont';
		src: local('boldItalicFont'), url('/fonts/boldItalicFont/OfficinaSansStd-BoldItalic.otf');
		font-weight: italic;
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		@apply font-bookFont;
	}

	/* === Scrollbars === */

	::-webkit-scrollbar {
		@apply w-1;
		@apply h-1;
	}

	::-webkit-scrollbar-track {
		@apply !bg-background;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-xl !bg-muted-foreground;
	}

	/* Firefox */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
	html {
		scrollbar-color: hsl(var(--foreground));
		@apply scroll-smooth;
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	/* === Highlighting === */
	::selection {
		@apply bg-muted-foreground;
		@apply text-white;
	}

	.antialised {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
